In [2]:
import pandas as pd
import numpy as np
import folium
import requests
import json
import pprint
import datetime as dt
import re

In [3]:
room_data = pd.read_csv('room.csv',encoding='CP949')
room_data.head()

,건물명(상호명),건물위치,주택유형구분,세대수(객실수),건축연도
0,NaN,전라북도 전주시 덕진구 고랑동 819-5,다세대주택(3세대),3,19920810
1,NaN,전라북도 전주시 덕진구 금암동 1569-6,다세대주택(3세대),6,19891206
2,NaN,전라북도 전주시 덕진구 금암동 1588-23,다세대주택(3세대),3,19890803
3,휴엔하임 주상복합 아파트,전라북도 전주시 덕진구 금암동 1639-1,"공동주택(아파트), 업무시설(오피스텔), 근린생활시설",30,20161128
4,NaN,전라북도 전주시 덕진구 금암동 525-83,다세대주택,4,19891121

In [4]:
room_data['세대수(객실수)'].value_counts()

3      1332
10     1066
11      788
9       643
4       616
5       576
8       542
2       497
6       423
12      349
7       302
15      296
13      246
18      201
1       192
0       169
14      134
16      129
19      111
17       91
30        4
20        3
54        2
159       2
56        2
24        1
48        1
288       1
182       1
110       1
73        1
172       1
44        1
34        1
826       1
77        1
53        1
27        1
51        1
167       1
276       1
28        1
191       1
Name: 세대수(객실수), dtype: int64

In [5]:
room_data['주택유형구분'].value_counts()

단독주택                        3751
단독주택,제1종근린생활시설               679
다가구주택                        494
단독주택(다가구주택)                  417
단독주택(3가구)                    196
                            ...
주택, 다세대주택(2세대), 소매점            1
1종근린생활시설, 단독주택(2가구)            1
다가구&제2종근린생활시설(사무소)             1
다가구주택 및 제2종 근린생활시설             1
주택, 근린생활시설(점포), 대피소, 화장실       1
Name: 주택유형구분, Length: 741, dtype: int64

In [6]:
room_data.describe()

          세대수(객실수)
count  8734.000000
mean      8.135791
std      11.724445
min       0.000000
25%       3.000000
50%       8.000000
75%      11.000000
max     826.000000

In [7]:
p = re.compile(r'\d+')
room_data['건축연도'] = room_data['건축연도'].map(lambda x: x if p.search(x) else '0')
room_data.drop(room_data[room_data['건축연도'].map(lambda x:int(x[:4])) < 1945].index, inplace=True) #해방 전 옛 건물들 제거
room_data.drop(room_data[room_data['세대수(객실수)']<1].index, inplace=True) #세대수가 0인 것 제거
room_data['const_year_point'] = 5-(dt.datetime.today().year-room_data['건축연도'].map(lambda x: int(x[:4])))//5

room_data.describe()

          세대수(객실수)  const_year_point
count  8555.000000       8555.000000
mean      8.301344          2.547165
std      11.789038          1.858123
min       1.000000        -10.000000
25%       4.000000          1.000000
50%       8.000000          3.000000
75%      11.000000          4.000000
max     826.000000          5.000000

In [ ]:
# TODO
# 건물 위치를 참조하여 folium에 좌표 찍기
# 건축 연도를 참조하여 room_data에 신축 / 준신축 / 보통 / 재건축필요 등의 등급으로 분류

room_data['건물위치']
key = "7F8A26C5-7C0A-318B-A521-FE1AA35942DB"
arr = []
f = open("./loc_all.txt", 'w')
f.close()
import time
for i in room_data['건물위치']:
    f = open("./loc_all.txt", 'a')
    location = i.strip()
    response = requests.get(f"http://api.vworld.kr/req/address?service=address&request=getCoord&key={key}&address={location}&type=PARCEL")
    if 'result' in response.json()['response']:
        x= float(response.json()['response']['result']['point']['x'])
        y = float(response.json()['response']['result']['point']['y'])
        arr.append([float(x),float(y)])
        f.write(str(x))
        f.write(',')
        f.write(str(y))
        f.write(',')
        f.write(location)
        f.write('\n')
        f.close()
    else:
        print(location, response.json())
    time.sleep(0.05)

In [8]:
f = open('./loc.txt', 'r')
lines = f.readlines()
map1 = folium.Map(location=[35.83001,127.125001], zoom_start=13)
arr = []
for line in lines:
    lat,long = map(float, line.split(','))
    lat = round(lat,2)
    long = round(long,2)
    if [lat,long] not in arr:
        arr.append([lat,long])

for content in arr:
    lat,long = content
    folium.Marker([long, lat], popup=f'{long}-{lat}의 원룸', icon=folium.Icon(color='red',icon='info-sign')).add_to(map1)
    folium.Circle([long, lat], radius=100, color='#3186cc', fill_color='#3186cc', popup=f'{long}-{lat}의 원룸 반경 100M').add_to(map1)
    folium.Circle([long, lat], radius=500, color='#ebe134', fill_color='#ebe134', popup=f'{long}-{lat}의 원룸 반경 500m').add_to(map1)
map1.save('map1.html')

In [13]:
from bs4 import BeautifulSoup

url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_location2_stopnm_common.do?serviceKey=cjE984BWrGFH3DFA2kLDoNx7j950nWjp6Ajz0CBaEABY5arYHY1C80RNBw6ptmayEV6B0zzpOfAbB73miZ4gnA%3D%3D&searchFld=searchNM&searchNm=%EC%95%88%EA%B3%A8"
response = requests.get(url)
data = BeautifulSoup(response.text, 'xml')
stopX = data('stopX')
stopY = data('stopY')
stopKname = data('stopKname')
stopId = data('stopStandardid')
bus_stop_arr = []

for i in range(len(stopX)):
    x=float(stopX[i].text)
    y=float(stopY[i].text)
    name = stopKname[i].text
    stop_id = int(str(stopId[i].text).strip())
    if 35.78<y and y<35.94 and 127.06<x and x<127.19:
        bus_stop_arr.append([x,y,name,stop_id])
bus_stop_arr.sort(key=lambda x:x[0])
print(len(bus_stop_arr))
for element in bus_stop_arr:
    if (35.78<element[1] and element[1]<35.94) and (127.06<element[0] and element[0]<127.19):
        folium.Marker([element[1], element[0]], popup=f'위도 : {element[1]}-경도 : {element[0]}:{element[2]}', icon=folium.Icon(color='green',icon='info-sign')).add_to(map1)
        
map1.save('map_bus.html')

1408

In [14]:
### 반지름 내의 원에 정류장 좌표가 몇 개 있는지 계산

for content in arr[-2:-1]:
    print(content)
    station_count = 0
    bus_count = 0
    content_lat = content[0]
    content_long = content[1]
    near_bus_stop = []
    bus_route_arr = []
    for bus_stop in bus_stop_arr:
        if bus_stop[0]>content_lat-0.005 and bus_stop[0]<content_lat+0.005 and bus_stop[1]>content_long-0.005 and bus_stop[1]<content_long+0.005:
            near_bus_stop.append(bus_stop)
    for bus_stop in near_bus_stop:
        if ((content_lat-bus_stop[0])**2+(content_long-bus_stop[1])**2)**(1/2) <= ((content_lat-(content_lat-0.0055))**2+(content_long-(content_long-0.0044))**2)**(1/2):
            bus_stop_id = bus_stop[3]
            url = f'http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/general_busstop_common.do?serviceKey=cjE984BWrGFH3DFA2kLDoNx7j950nWjp6Ajz0CBaEABY5arYHY1C80RNBw6ptmayEV6B0zzpOfAbB73miZ4gnA%3D%3D&stopStandardid={bus_stop_id}'
            response = requests.get(url)
            data = BeautifulSoup(response.text, 'xml')
            all_route=data('brtStdId')
            this_bus_route_count=0
            for route in range(len(all_route)):
                route_id = all_route[route]
                if route_id not in bus_route_arr:
                    bus_route_arr.append(route_id)
                    this_bus_route_count+=1
#             if this_bus_route_count>=1:
            print(bus_stop[2],'-(',bus_stop[3],')',this_bus_route_count,'대')
    print('총 :',len(bus_route_arr))

[127.11, 35.8]
효천초등학교 -( 305032500 ) 0 대
효천대방노블랜드 -( 305032497 ) 0 대
효천우미린2차아파트 -( 305032501 ) 0 대
효천리버클래스아파트 -( 305032498 ) 0 대
효천우미린2차아파트 -( 305032502 ) 0 대
우전초교 -( 305100488 ) 0 대
우전초교 -( 305100485 ) 0 대
삼천주공6단지 -( 305100382 ) 0 대
삼천주공6단지 -( 305100381 ) 0 대
삼천호반리젠시빌 -( 305100412 ) 0 대
삼천호반리젠시빌 -( 305100422 ) 0 대
삼천신일강변아파트 -( 305100408 ) 0 대
삼천신일강변아파트 -( 305100421 ) 0 대
총 : 0